@use '../base';
.button {
  background-color: $red;
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  color: white;
}

.button:active {
  background-color: $red-dark;
}