@use '../base';

.buttonGroup {

  &__selected{
    background-color: $grey-dark;
    color: white;
    border: none;
    flex-grow: 1;
    padding: 4px 0;
  }
  
  &__button{
    border: none;
    background-color: transparent;
    flex-grow: 1;
  }
}