.card {
  border-radius: 8px;
  overflow: hidden;
  margin: 16px 0;

  &__title {
    font-weight: bold !important;
  }

  &__price {
    font-weight: bold !important;
  }

  &__rating-container {
    display: flex;
  }

  &__rating-icon {
    margin: 0 4px !important;
    color: $red;
    display: flex;
    align-items: center;
  }

  &__figure {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 300px;
  }

  &__figure-img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }

  &__content {
    margin: 16px;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
  }
}

.card p {
  margin: 8px 0;
}