@use '../base';

.date{
  
  &__radio {
    display: none;
  }
  
  &__radio:disabled + &__label-container {
    color: $grey-light ;
  }

  &__radio:checked + &__label-container {
    background-color: $grey-dark;
    color: white;
  }

  &__label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
  }

  &__radio-date {
    margin: 0;
    font-weight: bold !important;
  }

  &__radio-day {
    margin: 0;
  }
}