@use '../base';

.menu {
  &__button{
    border: none;
    background-color: transparent;
  }

  &__radio {
    display: none;
  }

  &__radio:checked + &__label-container {
    background-color: $grey-dark;
    color: white;
  }

  &__label-container {
    padding: 4px 0;
  }

  &__label {
    font-weight: bold !important;
  }
}