.modal {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 16px 16px;
  position: fixed;
  bottom: 0;
  height: calc(100vh - 152px);
  left: 0;
  background-color: white;
  z-index: 2;
  
  &__title {
    font-weight: bold !important;
  }

  &__close-icon {
    font-size: 28px;
  }

  &__icon-container {
    text-align: end;
  }

  &__icon-btn {
    border: none;
    background-color: transparent;
  }

  &__content {
    height: calc(100% - 143px);
  }

  &__content-list-container {
    height: calc(100% - 32px);
    overflow-y: auto;
  }
}
