@use '../base';

.home {

  &__header{
    background-color: white;
    top: 0;
    padding-top: 16px;
    position: sticky;
  }

  &__date {
    display: flex;
    overflow: scroll;
    border-bottom: 1px solid;
    border-color: $grey-lighter;
    margin: 8px 0;
    padding: 4px 0;
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 4px 0px;
    border-radius: 4px;
  }

  &__cart {
    position: sticky;
    background-color: white;
    bottom: 0;
    padding-bottom: 8px;
  }

  &__modal {
    margin: 0 -16px;
  }
}
