@use '../base';

.home {

  &__date {
    display: flex;
    overflow: scroll;
    border-bottom: 1px solid;
    border-color: $grey-lighter;
    margin: 8px 0;
    padding: 4px 0;
  }

  &__radio {
    display: flex;
    justify-content: space-around;
    margin: 8px 0;
    padding: 4px 0;
    border: 1px solid black;
    border-radius: 4px;
  }
}
